$popup-high-rating-color: #27aae1;
$popup-low-rating-color: #e89d40;
$subject-low-rating-color: #e89d40;
$subject-high-rating-color: #9335ff;
$global-background-color: #f2f2f2;
$standard-text-color: #999999;
$thread-container-min-width: 320px;
$thread-container-max-width: 768px;
$color-white: #ffffff;
