$high-rating-subject-color: #9335ff;
$high-rating-popup-color: #27aae1;
$low-rating-color: #e89d40;
$global-background-color: #f2f2f2;
$standard-text-color: #999999;
$thread-container-min-width: 320px;
$thread-container-max-width: 768px;
$color-white: #ffffff;
