.message-corner-popup-container {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;

}

.low-rating {
@include low-rating-color;
}

.high-rating {
@include high-rating-popup-color;
}